body {
    margin-top: -15px;
    padding: 30px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
    font-family: 'Montserrat', Helvetica, sans-serif;
    background-color: white;
    overflow: hidden;
}

.break {
    /* breaks flex */
    flex-basis: 100%;
    height: 20px;
}

h1 {
    position: relative;
    font-size: 20px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    user-select: none;
    /* stops text from being highlighted/selected */
}

h2 {
    margin-top: 150px;
    margin-left: 15px;
    position: relative;
    font-size: 15px;
    font-family: 'Castoro', 'Times New Roman', Times, serif;
    color: #f0f0f0;
}

h3 {
    position: relative;
    font-size: 28px;
    font-weight: bolder;
    color: black;
}

h4 {
    margin-top: -10px;
    position: relative;
    font-family: 'Castoro', 'Times New Roman', Times, serif;
    font-size: 23px;
    font-weight: 100;
    color: black;
}

p {
    margin-top: -10px;
    position: relative;
    font-family: 'Castoro', 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 100;
    color: black;
}

a {
    margin-top: -190px;
    margin-right: 285px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: -4px;
    word-spacing: -5px;
    font-family: 'karla', Helvetica, sans-serif;
    font-size: 23px;
    /* vertical text */
    writing-mode: vertical-rl;
    text-orientation: upright;
}


/* swatches */

.square {
    height: 200px;
    width: 200px;
    background-color: #00000ee0;
}

.square1 {
    height: 200px;
    width: 200px;
    background: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%);
}

.square2 {
    height: 200px;
    width: 200px;
    background: linear-gradient(to bottom, #94c5f8 1%, #a6e6ff 60%, #b1b5ea 100%);
}

.square3 {
    height: 200px;
    width: 200px;
    background: linear-gradient(to bottom, #1e528e 0%, #728a7c 50%, #e9ce5d 100%);
}

.square4 {
    height: 200px;
    width: 200px;
    background: linear-gradient(to bottom, #163C52 0%, #4F4F47 30%, #C5752D 60%, #B7490F 100%, #2F1107 100%);
}

.square5 {
    height: 200px;
    width: 200px;
    background: linear-gradient(to bottom, #090401 40%, #4B1D06 100%);
}